<div class="p-d-flex p-flex-column p-shadow-5 p-m-6">
  <div class="p-fluid">
    <div class="p-field p-float-label p-m-5">
      <input id="user-name" type="text" pInputText>
      <label for="user-name">User Name</label>
    </div>
    <div class="p-field p-float-label p-m-5">
      <input id="password" type="text" pInputText>
      <label for="password">Password</label>
    </div>
    <div class="p-field p-float-label p-m-5">
      <input id="password-confirmation" type="text" pInputText>
      <label for="password-confirmation">Password confirmation</label>
    </div>
    <div class="p-field p-float-label p-m-5">
      <input id="email" type="text" pInputText>
      <label for="email">Email</label>
    </div>
    <div class="p-field p-float-label p-m-5">
      <input id="phone" type="text" pInputText>
      <label for="phone">Mobile Phone</label>
    </div>
    <div class="p-field p-float-label p-m-5">
      <input id="first-name" type="text" pInputText>
      <label for="first-name">First Name</label>
    </div>
    <div class="p-field p-float-label p-m-5">
      <input id="last-name" type="text" pInputText>
      <label for="last-name">Last Name</label>
    </div>
    <div class="p-field p-float-label p-m-5">
      <input id="middle-name" type="text" pInputText>
      <label for="middle-name">Middle Name</label>
    </div>
    <div class="p-field p-float-label p-m-5">
      <input id="gender" type="text" pInputText>
      <label for="gender">Gender</label>
    </div>
    <div class="p-field p-float-label p-m-5">
      <input id="birth-day" type="text" pInputText>
      <label for="birth-day">Birth Day</label>
    </div>

    <button pButton
            pRipple
            type="button"
            class="p-field p-m-5"
            label="Sign Up"
            (click)="signUp()">
    </button>

  </div>

</div>
