<div class="p-d-flex p-flex-column">

  <div class="p-p-3">Token: {{token$ | async}}</div>

  <div class="p-flex-row">

    <button pButton
            pRipple
            type="button"
            label="Login"
            class="p-ml-3"
            (click)="logIn()">
    </button>

    <button pButton
            pRipple
            type="button"
            label="Logout"
            (click)="logOut()"
            class="p-button-danger p-ml-3">
    </button>

    <button pButton
            pRipple
            type="button"
            label="Refresh"
            (click)="refresh()"
            class="p-button-warning p-ml-3">
    </button>

    <button pButton
            pRipple
            type="button"
            label="Show token"
            (click)="showToken()"
            class="p-button-success p-ml-3">
    </button>

  </div>

</div>
