<div class="p-d-flex p-flex-column">

  <div class="p-flex-row p-p-3">

    <button pButton
            pRipple
            type="button"
            label="Log In"
            (click)="signIn()"
            class="p-button-success p-ml-3">
    </button>

    <button pButton
            pRipple
            type="button"
            label="Logout"
            (click)="signOut()"
            class="p-button-danger p-ml-3">
    </button>

    <button pButton
            pRipple
            type="button"
            class="p-ml-3"
            label="Sign Up"
            (click)="signUp()">
    </button>

  </div>

</div>

